*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}

.square {
    
    position: relative;
    width: 400px; /*might change to %*/
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square span:nth-child(1) {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border:2px solid;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5;
    animation: animate 4s linear infinite;
    background: rgba(0,0,255, 0.8);
}

.square:hover span:nth-child(1) {
    border: none;
    background: rgba(0,0,255, 0.8);
}

.square span:nth-child(2) {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border:0px solid;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5;
    animation: animate 8s linear infinite;
    background: rgba(0,0,255, 0.8);
}

.square:hover span:nth-child(2) {
    border: none;
    background: rgba(0,0,255, 0.8);
}

.square span:nth-child(3) {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border:0px;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5;
    animation: animate 10s linear infinite;
    background: rgba(0,0,255, 0.8);
}

.square:hover span:nth-child(3) {
    border: none;
    background: rgba(0,0,255, 0.8);
}

@keyframes animate {
    0%
    {
        transform:rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}